<h2 class="screen-align">TestScreen</h2>
<div id="template-ihtq" class="row">
    <div id="template-ikwk" class="cell">
        <label id="template-iwuv" class="label">Label</label>
        <input id="template-iyre" [(ngModel)]="users.firstname" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i3pg" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-imz8" class="cell">
        <label id="template-igur" class="label">Label</label>
        <input id="template-ievo" [(ngModel)]="users.lastname" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>